<h1>My App</h1>
<hr>
<input type="button" value="Greeter" (click)="choice='greeter'">
<input type="button" value="Calculator-1" (click)="choice='calculator-1'">
<input type="button" value="Calculator-2" (click)="choice='calculator-2'">
<br/>

<!-- <app-greeter *ngIf="choice==='greeter'"></app-greeter>
<app-calculator *ngIf="choice==='calculator-1'"></app-calculator>
<app-calculator-2 *ngIf="choice==='calculator-2'"></app-calculator-2> -->

<div [ngSwitch]="choice">
  <app-greeter *ngSwitchCase="'greeter'"></app-greeter>
  <app-calculator *ngSwitchCase="'calculator-1'"></app-calculator>
  <app-calculator-2 *ngSwitchCase="'calculator-2'"></app-calculator-2>
</div>