<app-bug-stats [bugs]="bugsList"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="bugSortBy = $event.target.value">
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="bugSortDesc = $event.target.checked">
</section>
<app-bug-edit (bugAdded)="onNewBugAdded($event)"></app-bug-edit>
<section class="list">
    <ol>
        <app-bug-item [data]="bug" (bugEdited)="onBugEdited($event)"  *ngFor="let bug of (bugsList | sort:bugSortBy:bugSortDesc)" ></app-bug-item>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>
